:root{
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.carousel-item img{
    position: relative;
    opacity: 0.8;
}
.text {
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.text h1{
    color: darkblue;
    font-size: 4vw;
    font-weight: bolder;
    text-transform: uppercase;
}
.text p{
    color: blue;
    font-size: 2vw;
    font-weight: bold;
}
.col .card img{
    width: 15vw;
    height: 15vw;
}
.col .card{
    align-items: center;
    background-color: rgba(0, 200, 255, 0.1);
    border-radius: 10%;
    border: 1.5px solid blue;
}
.card-title{
    font-size: 2.5vw;
}
.collapse ul li a:hover{
    border-bottom: 1px solid blue;
}
.to-top{
    background-color: rgba(0, 76, 255, 0.404);
    position: fixed;
    bottom: 1.5vw;
    right: 2.5vw;
    display: flex;
    border-radius: 50%;
    width: 3vw; height: 3vw;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    font-size: 1.5vw;
    color: #1f1f1f;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}
.to-top.active{
    bottom: 1.5vw;
    pointer-events: auto;
    opacity: 1;
}
.to-top.active:hover {
    background-color: blue;
    color: white;
}
#contact .col iframe{
    padding: 0; margin: 0;
    width: 100%;
    height: 30vw;
}
#contact .container-fluid {
    margin: 0;
    background-color: rgba(0, 200, 255, 0.1);
}
#contact .row {
    border: 1px solid rgba(0, 76, 255, 0.404);
}
#contact .container-fluid h1{
    padding: 2vw;
    text-transform: uppercase;
}
